<app-header (choiceSelected)="onChoiceSwitch($event)"></app-header>
<div class="container">
  <div class="row">
    <app-user-profile [user]="user" [username]="username"></app-user-profile>
    <div class="form-group  mx-auto">
      <label class="badge badge-pill badge-dark">Username:</label>
      <input placeholder="User" class="form-control" [(ngModel)]="username" />
      <button
        (click)="getUserFollowers(); getUserRepo(); getUserInfo()"
        class="btn w-100 btn-dark"
      >
        GET DATA
      </button>
    </div>
  </div>
</div>
<app-repos-list
  *ngIf="loadedChoice === 'Repositories'"
  [repos]="repos"
  [username]="username"
></app-repos-list>
<app-followers-list
  *ngIf="loadedChoice !== 'Repositories'"
  [followers]="followers"
  [user]="username"
></app-followers-list>
